<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - Votre Site</title>
    <!-- Vous pouvez inclure vos feuilles de style CSS ici -->
</head>
<body>
    <header>
        <h1>Bienvenue sur Notre Site</h1>
    </header>
    <main>
        <p>Merci de visiter notre site. Inscrivez-vous pour accéder à nos fonctionnalités exclusives !</p>
        <a href="{% url 'inscription' %}"><button>Inscription</button></a>
    </main>
    <footer>
        <!-- Vous pouvez ajouter du contenu de pied de page ici -->
    </footer>
</body>
</html>
